{
  "presets": [
    [
      "@babel/preset-env",
      // Без этого выскакивала очень странная ошибка об отсутствии new
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
